# Create occupation-masked input data

Load in the [job title list](https://www.enchantedlearning.com/wordlist/jobs.shtml)

In [3]:
with open('data/JobTitles.txt') as file:
    job_titles = [line.rstrip() for line in file]

Use EN samples from covost2 data fr-en

In [4]:
import pandas as pd
import numpy as np
import nltk

original_data = pd.DataFrame()
original_data['SRC'] = pd.read_csv("data/covost2/covost_v2.fr_en.tsv", sep='\t')['translation']

Count the occurance of the job titles in the corpus

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

corpus = original_data['SRC'].values
vectorizer = CountVectorizer(vocabulary=job_titles, binary=True)
count_fit = vectorizer.fit_transform(corpus)
count_fit.shape

(264897, 285)

In [7]:
import spacy
import time 


word_df = pd.DataFrame()
word_df['word'] = vectorizer.get_feature_names_out()
word_df['freq'] = np.asarray(count_fit.sum(axis=0)).flatten()

In [8]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 9999999)


word_df.sort_values(
    by='freq', ascending=False
).head(100)

               word  freq
100         general  1068
184       president   998
52          captain   388
5            author   322
202         private   290
165          police   274
239         teacher   273
93          emperor   249
217         student   247
201          prince   241
203       professor   240
228        reporter   238
158         painter   235
151           model   215
120           mayor   214
214          singer   209
129          lawyer   201
278          writer   197
6             actor   195
3            artist   192
48            coach   190
110           judge   170
11          actress   152
253            star   137
80         engineer   135
246  representative   133
186        producer   131
199            poet   130
89         governor   127
142      journalist   120
234           smith   117
118         manager   112
38         composer    97
215         soldier    96
83           farmer    90
50             cook    87
95        executive    85
92           editor    84
185       principal    82
75            guide    76
152        musician    73
198           pilot    71
148          marine    71
167        princess    70
67            extra    64
189          notary    63
233         senator    62
2        ambassador    60
7           advisor    57
104          hunter    54
133            maid    52
235             spy    51
259         trainer    51
122            monk    48
10         attorney    46
180    photographer    45
37            clerk    45
134    manufacturer    43
170       publisher    42
183       policeman    41
166      politician    38
263           valet    37
162     philosopher    36
21            baker    36
208      researcher    35
17           banker    35
144        lecturer    34
190           nurse    34
181         pianist    34
223      translator    33
14       astronomer    33
174        operator    33
56             chef    32
4           athlete    31
117        magician    30
53        carpenter    27
60              cop    27
164         pitcher    26
154        novelist    26
265          waiter    24
231         scholar    24
139      instructor    24
99         gardener    23
0        accountant    23
59           consul    23
35         chaplain    22
237         surgeon    22
64          empress    21
105     illustrator    21
161       performer    21
179      pharmacist    20
25          butcher    20
66         explorer    20
245         referee    19
136        mechanic    19
204    psychologist    18
264           vicar    18
36          chemist    18
88       geographer    18
266         warrior    17

### Create input data where we mask the job titles

In [9]:
import re

def mask_sentence(sentence, masked_word):
    """
        sentence: the original sentence without preprocessing
        masked_word: the word to be masked (in lowercase)
    """
    
    # Find the location of the word in the sentence
    word_locations = [m.start() for m in re.finditer(masked_word, sentence.lower())]
    
    # Make sure that it is actually a standalone word (e.g., 'HE' and not 'tHE')
    final_word_location = None
    for x in word_locations:
        # Make sure the character before and after the word is not alphabet
        if (x == 0 or (not sentence[x-1].isalpha())) and \
            (x + len(masked_word) == len(sentence) or (not sentence[x + len(masked_word)].isalpha())):
            final_word_location = x
            break
    
    assert final_word_location is not None
    
    return sentence[:final_word_location] + '[MASK]' + sentence[final_word_location+len(masked_word):]

In [11]:
original_data['SRC_masked'] = pd.NA
original_data[f'original_word'] = pd.NA


for word_index, occupation_word_row in word_df.iterrows():
    # Indices of the sentences that contains the word
    sentence_indices = count_fit.transpose()[word_index].nonzero()[1]
    
    # Mask the word in those sentences
    original_data.loc[sentence_indices, 'SRC_masked'] = \
        original_data.loc[sentence_indices, 'SRC'].apply(
        lambda x: mask_sentence(sentence=x, masked_word=occupation_word_row['word'])
        )
    
    original_data.loc[sentence_indices, f'original_word'] = occupation_word_row['word']

In [17]:
original_data.dropna().shape

(11155, 3)

In [18]:
# original_data.dropna().to_csv('data/masked_occupation_covost2_for_en2de.csv')